body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url(https://rare-gallery.com/uploads/posts/340193-Digital-Art-Synthwave-Retrowave-Vaporwave-Mountain-Night.jpg);
    background-size: cover;
}

.hometext {
    position: absolute;
    top: 30%;
    left: 42.8%;
    color: linear-gradient(red, yellow);
    font-size: 45px;
}

.cSelect {
    position: absolute;
    top: 30%;
    left: 44.5%;
    color: #fd4593;
    font-size: 45px;
}

.mSelect {
    position: absolute;
    top: 48%;
    left: 42.8%;
    color: #f8ef25;
    font-size: 45px;
}

.hip {
    filter: opacity(0.5);
    background-color: black;
}

.redX {
    position: absolute;
    color: red;
    font-size: xx-large;
    left: 98.5%;
    top: -3%;
}

.instructions { 
    position: absolute;
    left: 43.6%;
    top: 37.5%;
    font-size: 45px;
}

#container {
    filter: opacity(0.5);
    color: lightseagreen;
    text-align: center;
    position: absolute;
    width: 28%;
    height: 28%;
    background-color: black;
    top: 35.5%;
    left: 36%;
}
.instructionX {
    position: absolute;
    color: red;
    font-size: xx-large;
    left: 96.13%;
    top: -14.12%;
}